<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moja Aplikacja</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
   <div class="container">
       <div class="row">
           <div class="col-xs-6">
               <div id="todos-view"></div>
            </div>
       </div>
   </div>

    <script type="text/html" id="todo-template">
        <input type="checkbox"<%= todo.completed? 'checked' : '' %> > 
        <% if(editing){ %>
            <input type="text" value="<%= todo.title %>"> 
        <% }else { %>
            <span class="todo-title"> <%= todo.title %> </span>
        <% } %>
        <span class="pull-right todo-remove"> &times; </span>
    </script>

    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/underscore/underscore.js"></script>
    <script src="node_modules/backbone/backbone.js"></script>
    
    <script src="src/app.js"></script>
</body>
</html>